<div id="content">
	<h2>Services for <%= params[:route] %></h2>
	
	<div id="info">
		<%= form_tag('/route', :method => :get) do -%>
			<%= label_tag 'route', "Route" %>
			<%= text_field_tag 'route' %>
			<%= submit_tag 'Search'%>
		<% end -%>
	</div>
	<div id="info">
		<% @services['results']['bindings'].each do |s| %>
			<p><%= link_to s['description']['value'], stops_path(:cal_uri => s['cal']['value'], :route => params[:route], :service_description => s['description']['value']) %></p>
		<% end %>
	</div>
	<p><%= @services.inspect %></p>
</div>