<div id="content">
	<h2>Bus Stops for <%= params[:route] %></h2>
	
	<div id="info">
		<%= form_tag('/route', :method => :get) do -%>
			<%= label_tag 'route', "Route" %>
			<%= text_field_tag 'route' %>
			<%= submit_tag 'Search'%>
		<% end -%>
	</div>
	<div id="info">
		<% @stops['results']['bindings'].each do |s| %>
			<p><%= link_to s['label']['value'], times_path(:route_id => params[:route], :stop_uri => s['.0']['value'], :stop_name => s['label']['value']) %></p>
		<% end %>
	</div>
	<p><% @stops.inspect %></p>
</div>