- content_for :header do
  %script{:src => "http://maps.google.com/maps/api/js?key=AIzaSyBsgSnMudr-fgedsyDXudQnaG7m-CS8mts&sensor=false", :type => "text/javascript"}
  %script{:type => "text/javascript"}
    //<![CDATA[
    function initialize() {
    var latlng = new google.maps.LatLng(#{params[:lat]}, #{params[:long]})
    var myOptions = {zoom: 14,center: latlng,disableDefaultUI: true,zoomControl: true,mapTypeId: google.maps.MapTypeId.ROADMAP};
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var marker = new google.maps.Marker({position: latlng,map: map,title:"#{params[:stop_name]}"});
    }
    //]]>
.row
  .span5
    %h2 Times for Route #{params[:route_id]}
    %i{:class => "icon-arrow-right"}
    = params[:service_description]
    %br/
    %i{:class => "icon-ok-sign"}
    = params[:stop_name]
    %br/
    %i{:class => "icon-time"}
    #{Time.zone.now.strftime("%a %d %B %Y, %H:%M")}
    %hr
    %table.table.table-bordered
      %tbody
        - @times['results']['bindings'].in_groups_of(3) do |group|
          %tr
            - group.each do |t|
              %td{:class => (t.present? and Time.zone.parse("#{t['depTime']['value']}", Time.zone.now) < Time.zone.now) ? "faded" : ""}
                .center= t['depTime']['value'][0..4].to_s if t.present?
    %p
      %em Faded times indicate previous departures
  #map_canvas.stop.span4
%p
  - @times.inspect
%p
  - @query
