<div id="content">
	<h2>Times for Route <%= params[:service_id] %>,<br />
	<%= params[:stop_name] %>,<br />
	on <%= Time.zone.now.strftime("%a %d %B %Y") %>
	</h2>
	
	<div id="info">
		<%= form_tag('/service', :method => :get) do -%>
			<%= label :service, :number, "Route" %>
			<%= text_field :service, :number %>
			<%= submit_tag 'Search'%>
		<% end -%>
	</div>
	<div id="info">
		<p>
		<% @times['results']['bindings'].each_with_index do |t, i| %>
			<span<%= " class='faded'" if Time.parse("#{t['depTime']['value']}", Time.now) < Time.zone.now %>><%= t['depTime']['value'][0..4] %></span><%=raw "</p><p>" if (i+1)%3 == 0 %>
		<% end %>
		</p>
	</div>

	<p><% @times.inspect %></p>
	<p><% @query %></p>
</div>