<!DOCTYPE html>
<html>
<head>
  <title>Greater Manchester Bus Times</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :header %>
</head>
<body<%= yield :body_tag %>>
	<h1><%= link_to "Greater Manchester Bus Times", root_path %></h1>
  <p class="description">Making Greater Manchester's Bus Times more Accessible</p>

  <%= yield %>

	<div id="footer">
		<p>
			<table><tr>
				<td>Built by<br /><%= link_to image_tag("bobop_logo_sm.jpg"), "http://bobop.co.uk" %></td>
        <td>Open Data from<br /><%= link_to image_tag("TfGM_logo_sm.jpg"), "http://www.tfgm.com" %></td>
				<td>Linked Data from<br /><%= link_to image_tag("swirrl.png"), "http://www.swirrl.com" %></td>
				<td>Inspired by<br /><%= image_tag "odm_logo_sm.jpg" %></td>
			</tr></table>
		</p>
	</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-157020-31']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
